/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f5f5f5; /* Light earthy background */
    line-height: 1.6;
    padding: 0px;
}

/* Navigation Menu */
nav {
    background-color: #fff; /* Light background color, adjust as needed */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the nav stays above other content */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
}

.nav-logo {
    font-weight: bold;
    font-size: 1.5em;
    color: #333; /* Dark color for contrast */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333; /* Adjust as needed */
    font-size: 1em;
}

.nav-links a:hover {
    background-color: #8c7b75; /* An earthy brown color for the hover effect */
    color: #fff; /* White text for better readability on hover */
    padding: 10px 15px; /* Optional: Adds padding to make the button larger on hover */
    border-radius: 5px; /* Optional: Rounds the corners of the hover effect */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}


.nav-links a:hover {
    color: #555; /* Hover effect */
}

.nav-logo img {
    height: 80px; /* Adjust based on your logo's size and your nav bar height */
    width: auto; /* Keeps the logo's aspect ratio */
    object-fit: contain; /* Ensures the image is scaled correctly within the logo container */
}


@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide nav links on smaller screens */
    }
    /* Consider adding a mobile menu toggle here */
}


/* Home Section */
header {
    background: url('side_drone_shot.JPG') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero-content {
    max-width: 900px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    margin-bottom: 30px;
    font-size: 1.2em;
}

.cta-button {
    display: inline-block;
    background-color: #6B8E23; /* An earthy green color */
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #556B2F;
}


/*ABOUT US*/

#about {
    background-color: #eaeaea; /* Light earthy background for contrast */
    padding: 50px 20px;
    text-align: center;
}

#about h2 {
    color: #333;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.about-text {
    flex: 1;
    min-width: 300px; /* Ensures text block maintains readability at smaller widths */
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Adds a subtle rounded corner to the image */
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
}


/* Photo Gallery */
#gallery {
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5; /* Adjust the background color as per your theme */
}

#gallery h2 {
    margin-bottom: 20px;
    color: #333; /* Earthy tone for text */
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 0 15px;
}

.gallery-container img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Adds rounded corners to your images */
    transition: transform 0.2s ease-in-out;
}

.gallery-container img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}


/* Contact Form */
#contact {
    background-color: #ddd;
    padding: 50px 20px;
    text-align: center;
}

#contact form {
    max-width: 600px;
    margin: auto;
}

#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    #gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
